@import '/src/theme/mixins';

ion-card{
    padding: 1rem;
}
h1{
    width: 100%;
    text-align: center;
    margin: 2rem;
}

.statistics-header{
    width: 90%;
    margin: 0 auto;
}
.statistics-container{
    display: flex;

    gap:2rem;
    max-width: 90%;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;
}

#doughnut-chart-card{
    width: 95%;
    @include sm{
        width: 50%;
        margin: 0 auto;
    }
}

#linear-chart-card, ion-header{
    width: 95%;
    @include sm{
        width: 70%;
    }
}

ion-header{
    padding: 1rem;
}

ion-col{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}