ion-col{
    padding: 1rem;
}

tr{
    th,td{
        text-align: center;
    }

    .view-residences{
        background-color: var(--silver-200);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        font-weight: 600;
        margin: 0 1rem;
        border-radius: 1rem;
        padding: .5rem .5rem;
        cursor: pointer;
        min-width: max-content;
    }
}